# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# macOS 관련
.DS_Store

# VS Code 관련
.vscode/

# 환경 파일
.env
.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook 체크포인트
.ipynb_checkpoints

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# Logs
*.log